@font-face {font-family: 'COCOGOOSE';src: url('//cdn.res.webfont.com/webfonts/css/youziku/47031/47031.gif');src: url('//cdn.res.webfont.com/webfonts/css/youziku/47031/47031.gif?#iefix') format('embedded-opentype'),     url('//cdn.res.webfont.com/webfonts/css/youziku/47031/47031.bmp') format('woff'),     url('') format('truetype'),     url('//cdn.res.webfont.com/webfonts/css/youziku/47031/47031.png#COCOGOOSE') format('svg');   }
@font-face {
	font-family: "Fira Code";
	src: url("https://common.cnblogs.com/fonts/FiraCode-Regular.woff2") format("woff2");
	font-style: normal;
}

:root {
	color: #333;
	font-size: 16px;
	box-sizing: border-box;
	user-select: none;
	word-break: break-all;
	scroll-behavior: smooth;

	--theme-color: #dcf6fb; /* 主题色 */
	--theme-color2: skyblue; /* 主题色2 */
	--theme-color3: #b399ff; /* 主题色3 链接色 */
	--theme-color4: #ef8b34; /* 主题色4 链接高亮 */
	--theme-color5: #fff0ff; /* 主题色4 表头 */
	--theme-color6: #fffbff; /* 主题色4 表格 */
	--header-background: url("https://images.cnblogs.com/cnblogs_com/ofnoname/2093418/o_221120080227_1545207-20221111182621011-2060573809.jpg");
	--white-background: #f8f8f8;

	--header-font: COCOGOOSE;
	--info-font: 'Fira Code', 'Lucida Console', 'PingFang SC','Microsoft YaHei', monospace;
}

* {
	box-sizing: inherit;
	word-break: break-all;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--white-background);
}

a {
	text-decoration: none;
	color: var(--theme-color3);
	transition: .2s;
}
a:hover{
	color: var(--theme-color4);
}

/* header 部分 */

#blogTitle {
	background-image: var(--header-background);
	height: 68vmin;
	background-position: 0 100%;
	background-size: cover;
	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

#lnkBlogLogo {display: none;}

#blogTitle h1 {
	/* 数学居中上移成为视觉居中 */
	margin-top: -4vmin;
	margin: 0;
}

#blogTitle h1 a {
	font-size: 10vmin;
	color: #333;
	font-weight: 400;
	font-family: var(--header-font), monospace;

}

#blogTitle h2 {
	font-size: 4vmin;
	font-weight: 400;
	margin: 0;
}

#navigator {
	display: none;
}

/* main栏布局 */

#main {
	display: flex;
	max-width: 1200px;
	justify-content: center;
	margin: 2.5em auto;
}

#main > *{
	background-color: white;
	border-radius: .5rem;
	box-shadow: 0 1px 3px hsl(0deg 0% 7% / 10%);
}

#sideBar{
	flex: 0 1.5 280px;
	margin-left: 2rem;
	padding: 0 1rem;
}

#mainContent {
	flex: 0 1 800px;
	padding: 2rem 3rem;
}

@media (max-width:1080px) {
	#main>#sideBar {
		display: none;
	}
	#main>#mainContent {
		flex: 1;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

/* 文章列表 */

.dayTitle {
	display: none;
}

.postGeneral {
	cursor: pointer;
	transition: all .2s;
	padding: 0 1rem;
	border-radius: .5rem;
}

.postGeneral::after {
	display: block;
	width: 100%;
	content: "";
	margin: 1.5rem 0;
	border-top: 2px solid gainsboro;
}

.postGeneral:hover {
	box-shadow: 0 0 8px #aaa;
	background-color: var(--theme-color);
}

.postTitle2 {
	font-size: 1.5rem;
	color: #222;
	text-decoration: none;
}
.postTitle2:hover{
	color: #222;
}

.postCon {
	margin: .8rem 0 1.5rem;
	color: #aaa;
}

/* 文章信息栏 */
.postDesc {
	font-family: var(--info-font);
}

.postInformation {
	float: right;
}

.postDesc * {
	display: inline-block;
	padding: .25rem .75rem;
	border-radius: .25rem;
}

.postDescDate {
	background-color: #edece6;
}

.postInformation * {
	background-color: #edece6;
}

.postInformation *:before{
	display: inline-block;
	content: "";
	width: .9rem;
	height: .8rem;
	background-repeat: no-repeat;
	background-size: cover;
}

.postDescRead::before {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='12' width='12' viewBox='0 0 24 24'%3E%3Cpath d='M23.444 10.239C21.905 8.062 17.708 3 12 3S2.1 8.062.555 10.24a3.058 3.058 0 0 0 0 3.52C2.1 15.938 6.292 21 12 21s9.905-5.062 11.445-7.24a3.058 3.058 0 0 0-.001-3.521zM12 17a5 5 0 1 1 5-5 5 5 0 0 1-5 5z' fill='%23212121'/%3E%3C/svg%3E");}
.postDescComt:before {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24' viewBox='0 0 24 24'%3E%3Cg stroke-width='2' fill='none' stroke='%23212121' class='nc-icon-wrapper' stroke-linecap='square' stroke-miterlimit='10'%3E%3Cpath data-color='color-2' d='M23 5v11a2 2 0 0 1-2 2h-2v4l-6-4h-1'/%3E%3Cpath d='M17 2H3a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2v5l7-5h5a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2z'/%3E%3C/g%3E%3C/svg%3E");}


.c_b_p_desc_readmore,.postDesc a {display: none;}

@media (max-width: 480px) {
	.postInformation {
		float: none;
		display: block;
		margin-top: .5rem;
	}
}

/* 右栏 搜索 */
.catListTitle{
	font-weight: 400;
	pointer-events: none;
}
.div_my_zzk{
	display: flex;
}
.input_my_zzk {
	flex: 1;
	padding: 1em .5rem;
	border: 1px solid #ccc;
	font-size: 1rem;
	border-radius: 5px;
	transition: all 0.2s;
}

.btn_my_zzk {
	flex: 0 0 4rem;
	padding: .5rem;
	height: 2rem !important;
	font-size: .8rem;
	border-radius: .25rem;
	outline-style: none;
	transition: all 0.2s;
	cursor: pointer;

	background-color: white;
	color: var(--theme-color3);
	border: 1px solid var(--theme-color3);
}

.input_my_zzk:hover {
	box-shadow: 0 0 5px #aaa;
}

.btn_my_zzk:hover {
	background-color: var(--theme-color3);
	color: white;
}

/* 最新评论样式 */
.RecentCommentBlock ul {
	list-style-type: none;
	user-select: text;
	padding-left: 0;
}

.recent_comment_body {
	font-size: .9rem;
	margin: .9rem 0;
}

.recent_comment_author {
	color: #aaa;
	font-size: .9rem;
}

.recent_comment_author::after {
	display: block;
	margin: .9rem 0;
	width: 100%;
	content: "";
	border-top: 2px solid gainsboro;
}


/* footer 样式 */
#footer {
	text-align: center;
	margin: 4em auto 1em;
	padding: 1.5em;
	max-width: 450px;
	border-radius: .5rem;
	transition: all 0.2s;
	font-family: var(--info-font);
	position: relative;

	background-image: linear-gradient(to bottom,
		var(--theme-color),
		var(--theme-color2),
		var(--theme-color2),
		var(--theme-color));
	background-size: 300% 300%;
}

#footer:hover {
	background-position: 50% 50%;
	box-shadow: 0 0 1px #444;
}

#footer:active {
	background-position: 100% 100%;
}

.footerdec {
	opacity: 1;
	transition: all 0.2s;
}

#footer:hover .footerdec {
	opacity: 0;
}

.blogStats {
	opacity: 0;
	position: absolute;
	top: 40%;
	left: 0; right: 0;
	transition: all 0.2s;
	font-size: 1.1rem;
}

#footer:hover .blogStats {
	opacity: 1;
}

.blogStats *:before {
	display: inline-block;
	content: "";
	width: .9rem;
	height: .8rem;
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 2px;
}

#stats-comment_count:before {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24' viewBox='0 0 24 24'%3E%3Cg stroke-width='2' fill='none' stroke='%23212121' class='nc-icon-wrapper' stroke-linecap='square' stroke-miterlimit='10'%3E%3Cpath data-color='color-2' d='M23 5v11a2 2 0 0 1-2 2h-2v4l-6-4h-1'/%3E%3Cpath d='M17 2H3a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2v5l7-5h5a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2z'/%3E%3C/g%3E%3C/svg%3E");}
#stats-total-view-count:before {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24' viewBox='0 0 24 24'%3E%3Cpath d='M23.444 10.239C21.905 8.062 17.708 3 12 3S2.1 8.062.555 10.24a3.058 3.058 0 0 0 0 3.52C2.1 15.938 6.292 21 12 21s9.905-5.062 11.445-7.24a3.058 3.058 0 0 0-.001-3.521zM12 17a5 5 0 1 1 5-5 5 5 0 0 1-5 5z' fill='%23212121'/%3E%3C/svg%3E");}
#stats_post_count:before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='%23212121' class='nc-icon-wrapper'%3E%3Cpath d='M21 5c-1.11-.35-2.33-.5-3.5-.5-1.95 0-4.05.4-5.5 1.5-1.45-1.1-3.55-1.5-5.5-1.5-1.95 0-4.05.4-5.5 1.5v14.65c0 .25.25.5.5.5.1 0 .15-.05.25-.05C3.1 20.45 5.05 20 6.5 20c1.95 0 4.05.4 5.5 1.5 1.35-.85 3.8-1.5 5.5-1.5 1.65 0 3.35.3 4.75 1.05.1.05.15.05.25.05.25 0 .5-.25.5-.5V6c-.6-.45-1.25-.75-2-1zM3 18.5V7c1.1-.35 2.3-.5 3.5-.5 1.34 0 3.13.41 4.5.99v11.5C9.63 18.41 7.84 18 6.5 18c-1.2 0-2.4.15-3.5.5zm18 0c-1.1-.35-2.3-.5-3.5-.5-1.34 0-3.13.41-4.5.99V7.49c1.37-.59 3.16-.99 4.5-.99 1.2 0 2.4.15 3.5.5v11.5z'/%3E%3Cpath opacity='.3' d='M11 7.49c-1.37-.58-3.16-.99-4.5-.99-1.2 0-2.4.15-3.5.5v11.5c1.1-.35 2.3-.5 3.5-.5 1.34 0 3.13.41 4.5.99V7.49z'/%3E%3Cpath d='M17.5 10.5c.88 0 1.73.09 2.5.26V9.24c-.79-.15-1.64-.24-2.5-.24-1.28 0-2.46.16-3.5.47v1.57c.99-.35 2.18-.54 3.5-.54zM17.5 13.16c.88 0 1.73.09 2.5.26V11.9c-.79-.15-1.64-.24-2.5-.24-1.28 0-2.46.16-3.5.47v1.57c.99-.34 2.18-.54 3.5-.54zM17.5 15.83c.88 0 1.73.09 2.5.26v-1.52c-.79-.15-1.64-.24-2.5-.24-1.28 0-2.46.16-3.5.47v1.57c.99-.35 2.18-.54 3.5-.54z'/%3E%3C/g%3E%3C/svg%3E");}
#stats_article_count:before {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24' viewBox='0 0 24 24'%3E%3Cg stroke-width='2' fill='%23212121' stroke='%23212121' class='nc-icon-wrapper'%3E%3Cpath data-stroke='none' stroke='none' d='M15 1v6h6l-6-6z'/%3E%3Cpath data-cap='butt' fill='none' stroke-miterlimit='10' d='M15 1v6h6'/%3E%3Cpath fill='none' stroke-linecap='square' stroke-miterlimit='10' d='M15 1H3v22h18V7l-6-6z'/%3E%3Cpath data-color='color-2' fill='none' stroke='inherit' stroke-linecap='square' stroke-miterlimit='10' d='M7 7h4M7 12h10M7 17h10'/%3E%3C/g%3E%3C/svg%3E");}

@media (max-width: 450px) {
	#footer {
		margin-left: .6rem;
		margin-right: .6rem;
	}
}

/* 正文 */
h1.postTitle{
	margin-top: 0;
	user-select: text;
}

h1.postTitle a {
	font-size: 2rem;
	color: #121212;
	font-weight: 400;
}

.cnblogs-markdown {
	user-select: text;
}

.cnblogs-markdown p {
	line-height: 1.8 !important;
	margin: 1.4rem 0 !important;
	font-size: 1rem;
}
.cnblogs-markdown li{
	line-height: 1.8 !important;
}

.cnblogs-markdown h2:before{
	content: "#";
	color: var(--theme-color3);
	margin-right: .5rem;
	margin-left: -1.5rem;
}

.cnblogs-markdown h3:before{
	content: "|";
	color: var(--theme-color3);
	margin-right: .5rem;
}

.cnblogs-markdown h1 {
	font-size: 2rem !important;
	margin: 1.4rem 0 !important;
}

.cnblogs-markdown h2 {
	font-size: 1.5rem !important;
	margin: 1.4rem 0 !important;
}

.cnblogs-markdown h3 {
	font-size: 1.25rem !important;
	margin: 1.2rem 0 !important;
}

.cnblogs-markdown h4 {
	font-size: 1.1rem !important;
	margin: 1.2rem 0 !important;
}

.cnblogs-markdown h5 {
	font-size: 1rem !important;
}

.cnblogs-markdown h6 {
	font-size: 1rem !important;
}

.cnblogs-markdown .table-wrapper table {
	margin: 0 auto;
}

.cnblogs-markdown .table-wrapper table th {background-color: var(--theme-color5) !important;}
.cnblogs-markdown .table-wrapper td {background-color: var(--theme-color6) !important;}

.cnblogs-markdown .math.inline {
	padding-inline-start: .25rem;
	padding-inline-end: .25rem;
}

#topics .cnblogs-markdown code,
.feedbackCon code{
	font: 1.1em var(--info-font) !important;
	background-color: transparent !important;
	tab-size: 4 !important;
	padding: 0 0 !important;
}

#topics .cnblogs-markdown :not(pre) code,
.feedbackCon :not(pre) code{
	color: var(--theme-color2) !important;
}

#topics .cnblogs-markdown pre code {
	line-height: 1.8em !important;
	color: #333 !important;
}

.hljs-comment {
	font-style: normal;
}

.cnblogs-markdown img {
	margin: 1rem auto;
	max-width: 95%;
	display: block;
	border-radius: .25rem;
	box-shadow: 0 0 3px #aaa;
	transition: transform 300ms cubic-bezier(0.2, 0, 0.2, 1),
				box-shadow .2s !important;
}

.cnblogs-markdown img:hover {
	box-shadow: 0 0 8px #555;
}

.cnblogs-markdown kbd {
	font: 1.1em var(--info-font);
	padding: 3px 5px;
	margin: 0 3px;
	color: #555;
	vertical-align: middle;
	background-color: #fcfcfc;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #bbb;
}

.cnblogs-markdown blockquote {
	background: linear-gradient(to bottom right,
		var(--theme-color),
		var(--theme-color2));
	border-radius: .25rem;
	border-left: none !important;
	margin: 1rem 0;
	padding: 1px .8rem;
}

.cnblogs-markdown ol,
.cnblogs-markdown ul{
	margin-left: 1rem !important;
	padding-left: 0 !important;
	line-height: 1.6 !important;
}

/* 评论区 */

#blog-comments-placeholder {
	margin: 1.5rem 0;
}

.feedback_area_title {
	margin-top: -1rem;
	margin-bottom: 1.4rem;
	font-weight: 500;
	font-size: 1.5rem;
}

.feedback_area_title {
	color: #222;
}

#comment_sort {
	float: none;
	display: inline-flex;
	background-color: var(--theme-color);
	transition: all .2s;
	padding: 5px 10px;
	font-size: .75rem;
	border-radius: 3px;
}

#comment_sort .comment-sort-label {
	display: inline;
}

.comment_vote {
	display: none;
}

.feedbackItem {
	background-color: var(--white-background);
	margin-bottom: 1rem;
	border-radius: 8px;
	padding: 10px 18px;
	width: 70%;
	clear: both;
	position: relative;
}
.feedbackItem:after {
	content: "";
	width: 0;
	height: 0;
	border: .8rem solid ;
	border-color: var(--white-background) transparent transparent var(--white-background);
	position: absolute;
	left: 0;
}
.lz-comment:after{
	content: "";
	width: 0;
	height: 0;
	border: .8rem solid ;
	border-color: var(--white-background) var(--white-background) transparent transparent;
	position: absolute;
	right: 0;
	left: unset;
}
.feedbackManage a {
	color: #aaa;
	transition: .2s;
	font-weight: 400;
}
.feedbackManage a:hover {
	color: #333;
}

.feedbackListSubtitle {
	font-size: .9rem;
}

.feedbackManage {
	display: inline;
	float: right;
	font-size: .8rem;
}
.layer{
	font-family: var(--info-font);
	color: inherit;
}
.comment_date{
	font-family: var(--info-font);
}
.lz-comment{
	float: right;
}

/* 上一篇和下一篇 */
#post_next_prev {
	display: none;
}

.post_my_next_prev {
	margin: .5rem 0;
}

.post_my_next_prev a {
	font-size: 1.05rem;
	border-radius: .5rem;
	background-color: var(--white-background);
	color: #aaa;
	padding: 10px 18px;
	transition: all .2s;
	display: block;
	margin-bottom: .5rem;
}

.post_my_next_prev a:hover {
	color: #333;
	box-shadow: 0 0 2px #a2a2a2;
	background-color: var(--theme-color);
}

.post_my_next_prev a::before {
	content: "上一篇：";
	color: #333;
}

.post_my_next_prev a+a::before {
	content: "下一篇：";
	color: #333;
}

/* 广告区 */
#cnblogs_ch,
.under-post-card {
	background-color: var(--white-background);
	border-radius: 8px;
	width: 49%;
	padding: 5px 12px;
	line-height: 1.8;
}

#cnblogs_ch a,
.under-post-card a {
	color: #aaa;
	display: inline-block;
	padding: 2px 4px;
	transition: all .2s;
	width: 100%;
	border-radius: 2px;
}

#cnblogs_ch a:hover,
.under-post-card a:hover {
	color: #333;
	background-color: var(--theme-color);
}

#cnblogs_c1 {
	float: right;
	max-width: 49%;
	margin-left: 4px;
	margin-right: 4%;
}

#HistoryToday {
	display: none;
}

@media (max-width:1080px) {
	#cnblogs_c1 {
		display: none;
	}

	#cnblogs_ch,
	.under-post-card {
		width: 100%;
	}
}

/* 文章尾部 */
.post .postDesc {
	margin: 8px 0;
}

.post .postDesc .postInformation {
	float: none;
}

#author_profile,
#div_digg,
#green_channel_weibo,
#green_channel_wechat,
#comment_nav {
	display: none !important;
}

#green_channel {
	border: none;
	background: none;
	text-align: left;
	border-radius: 8px;
}

#green_channel a {
	transition: .4s;
	padding: .5rem 1rem;
	font-weight: normal;
}

#green_channel_digg {
	background-color: blue !important;
}

#green_channel_follow {
	background-color: red !important;
}

#green_channel_favorite {
	background-color: green !important;
}

/* 评论框 */
#tbCommentBody {
	font-size: 1rem;
}

#commentform_title {
	font-size: 1.5rem;
	font-weight: 500;
	color: #121212;
	background: none;
	padding: 0 0 0 0;
	margin-bottom: 1.4rem;
}

.commentbox_main.comment_textarea {
	border-radius: 8px;
	border: 2px solid #aaa;
}

#tip_comment2+p {
	visibility: hidden;
}

#btn_comment_submit,#nav_next_page a {
	padding: 8px 12px;
	width: unset;
	height: unset;
	font-size: 1rem;
	border: none;
	border-radius: 8px;
	transition: .2s;
}
#homepage_top_pager{margin-top:0;}
.pager{
	margin-bottom: 1rem;
	padding: .8rem 0;
	color: #333;
	border-radius: 8px;
	font-size: 1rem;
	font-family: 'Lucida Console','Microsoft YaHei', 'PingFang SC','Helvetica Neue','Helvetica','Arial', monospace,sans-serif !important;

}
.pager a{
	background-color: #edece6;border-radius: 4px;
	padding: 7px 9px 6px;
	transition: .2s;
	color: #aaa;
	border: none;
}
.pager a:first-child, .pager a:last-child{color: #333;}
.pager a:hover{
	background-color: var(--theme-color);
	color: #333;
}
#nav_next_page a{
	color: #333;
	background-color: var(--white-background);
	margin-right: 8px;
}
#btn_comment_submit:hover, #nav_next_page a:hover {
	background-color: var(--theme-color);
}
#btn_comment_submit:active,#nav_next_page a:active {
	background-color: var(--theme-color2);
}
.pager:first-child{
	margin-top: 0;
	padding-top: 0;
}

#tip_comment {
	display: none;
}

#span_comment_canceledit+a {
	background-color: var(--theme-color4);
	padding: 8px 12px;
	width: unset;
	height: unset;
	font-size: 1rem;
	color: #333;
	border: none;
	border-radius: 8px;
	transition: .2s;
}

.login_tips {
	border-radius: 8px;
	color: #333;
	flex-basis: 49%;
	flex-grow: 0;
	flex-shrink: 1;
	padding: 10px 18px;
	transition: all .2s;
	background: none;
	background-color: var(--theme-color);
	margin: 16px 0;
}

.login_tips a {text-decoration: none !important;}

/* 目录 */
#ec {
	position: sticky;
	top: 2rem;
}
.econtent ul{
	list-style-type: none;
	padding-left: 1rem;
	font-size: .9rem;
}
.econtent li{margin-bottom: .5rem;}
.econtent a{color: #aaa;transition: .2s;}
.econtent a:hover{color: #333;}
.econtent >ul{padding-left: 0;}

.foldable{
	display: inline;
	float: left;
	margin-left: -1rem;
	transition: all .2s;
}
.econtent> ul>span{display: none;}
.collapsed{
	transform: rotate(90deg);
	transform-origin: center;
}

/* 导航栏 */
.nav{
	position: absolute;
	top: 0;
	width: 100%;
	height: 4rem;
	transition: .2s;
}
.nav:hover{
	/* todo */
	background-color: rgba(248, 248, 248, 0.5);
}
.site-collection{
	float: right;
}
.nav a{
	display: inline-block;
	font-weight: 700;

	text-align: center;
	color: #000;
	min-width: 5rem;

	font-size: 1.1rem;

	transition: .2s;
	vertical-align: middle;
}
.nav > a{
	border-top: 6px solid transparent;
	line-height: 3.5rem;
	height: 4rem;
}
.nav > a:first-child{
	display: inline-flex;
	flex-direction: column;
	width: 4rem;
	justify-content: center;
}
.nav > a:hover{
	border-top-color: var(--theme-color4);
}
.nav img{
	line-height: 3.5rem;
	height: 2rem !important;
	display: inline-block;
}

.site-collection a{
	margin: .8rem;
	padding: .5rem 1rem;
	border-radius: 1rem;
	background-color: rgba(248, 248, 248, 0.5);
}
.site-collection a:hover{
	background-color: var(--theme-color4);
}
/* 打印网页 */
@media print {
	#header, .postDesc, #blog_post_info_block, #comment_form, #blog-comments-placeholder, #footer{display: none;}
}