:root {
	color: #333;
	font-size: 16px;
	box-sizing: border-box;
	user-select: none;
	word-break: break-all;
	--theme: #dcf6fb;
	scroll-behavior: smooth
}

* {
	box-sizing: inherit;
	word-break: break-all;
}

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.forFlow {
	visibility: hidden;
}

#main>#mainContent {
	width: 0
}

#首部图片部分 {}

#header #blogTitle {
	width: 100%;
	height: calc(100vw * 0.36);
	min-height: 30vh;
	/* background-image: url("https://images.cnblogs.com/cnblogs_com/ofnoname/2093418/o_220816145126_%E5%8C%97%E6%9E%81%E7%86%8A2.jpg"); */
	background-image: url("https://images.cnblogs.com/cnblogs_com/ofnoname/2093418/o_221120080227_1545207-20221111182621011-2060573809.jpg");
	background-position: 0 100%;
	background-size: cover;
	text-align: center;
}

#header #blogTitle>h1 {
	margin-top: calc(6vw + 1.5rem);
	margin-bottom: calc((.9rem + 1.3vw)*0.8);
}

#header #blogTitle>h1>a {
	font-size: calc(1rem + 5vw);
	text-decoration: none;
	color: #333;
	font-weight: 400;
}

#header #blogTitle>h2 {
	font-size: calc(.9rem + 1.3vw);
	color: #333;
	margin-top: calc(0.2rem + 1vw);
	font-weight: 400;
}

#navigator {
	display: none;
}

#三栏flex分栏 {}

#main {
	display: flex;
	justify-content: space-between;
	margin-top: 2.5em;
}

#main #sideBar {
	flex: 0 1.5 280px;
}

#main #mainContent {
	flex: 1 1 1000px;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

#main #sideBarLeft {
	flex: 0 1.5 280px;
}

@media (max-width:1080px) {
	#main>#sideBar {
		display: none;
	}

	#main>#sideBarLeft {
		display: none;
	}

	#main>#mainContent {
		flex: 1;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

#首页文章 {}

.dayTitle {
	display: none;
}

.postGeneral {
	cursor: pointer;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	transition: all .2s;
	border-radius: 10px;
}

.postGeneral::after {
	display: block;
	width: 100%;
	content: "";
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	border-top: 2px solid gainsboro;
}

.postGeneral:hover {
	box-shadow: 0px 0px 2px 2px #a2a2a2;
	background-color: #dcf6fb;
}

.postTitle2 {
	font-size: 1.5rem;
	color: #222;
	text-decoration: none;
}

.postCon {
	margin: .8rem 0 1.5rem;
	color: #aaa;
}

.postCon:hover {}


/* 文章信息栏 */
.postDesc {
	color: #222;
	font-family: 'Lucida Console', monospace, 'PingFang SC','Microsoft YaHei','Helvetica Neue','Helvetica','Arial',sans-serif;
}

.postInformation {
	float: right;
}

@media (max-width: 480px) {
	.postInformation {
		float: none;
		display: block;
		margin-top: .5rem;
	}
}

.postDescDate,
.postDescRead,
.postDescComt,
.postDescLike {
	display: inline-block;
	padding: 5px 12px;
	border-radius: 4px;
}

.postDescDate {
	background-color: #edece6;
}

.postDescRead {
	background-color: #cacad0;
}

.postDescRead::before {
	display: inline-block;
	content: "";
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='12' width='12' viewBox='0 0 24 24'%3E%3Cpath d='M23.444 10.239C21.905 8.062 17.708 3 12 3S2.1 8.062.555 10.24a3.058 3.058 0 0 0 0 3.52C2.1 15.938 6.292 21 12 21s9.905-5.062 11.445-7.24a3.058 3.058 0 0 0-.001-3.521zM12 17a5 5 0 1 1 5-5 5 5 0 0 1-5 5z' fill='%23212121'/%3E%3C/svg%3E");
	width: .9rem;
	height: .8rem;
	background-repeat: no-repeat;
	background-size: cover;
}

.postDescComt {
	background-color: #c8c8c8;
}

.postDescComt:before {
	display: inline-block;
	content: "";
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24' viewBox='0 0 24 24'%3E%3Cg stroke-width='2' fill='none' stroke='%23212121' class='nc-icon-wrapper' stroke-linecap='square' stroke-miterlimit='10'%3E%3Cpath data-color='color-2' d='M23 5v11a2 2 0 0 1-2 2h-2v4l-6-4h-1'/%3E%3Cpath d='M17 2H3a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2v5l7-5h5a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2z'/%3E%3C/g%3E%3C/svg%3E");
	width: .9rem;
	height: .8rem;
	background-repeat: no-repeat;
	background-size: cover;
}

.postDescLike {
	background-color: #d0ccc4;
}

.postDescLike:before {
	display: inline-block;
	content: "";
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24' viewBox='0 0 24 24'%3E%3Cg fill='%23212121' class='nc-icon-wrapper'%3E%3Cpath data-color='color-2' d='M4 11H1a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h3z'/%3E%3Cpath d='M22.539 10.4A4 4 0 0 0 19.5 9H13V4c0-2.206-.794-4-3-4a1 1 0 0 0-.965.737L6 11v13h12.426a3.979 3.979 0 0 0 3.954-3.392l1.076-7a4 4 0 0 0-.917-3.208z'/%3E%3C/g%3E%3C/svg%3E");
	width: .9rem;
	height: .8rem;
	background-repeat: no-repeat;
	background-size: cover;
}

.c_b_p_desc_readmore {
	display: none;
}

.postDesc a {
	display: none;
}

.blogStats *:before {
	display: inline-block;
	content: "";
	width: .9rem;
	height: .8rem;
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 2px;
}

.blogStats {
	font-size: 1.1rem;
}

#stats-comment_count:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24' viewBox='0 0 24 24'%3E%3Cg stroke-width='2' fill='none' stroke='%23212121' class='nc-icon-wrapper' stroke-linecap='square' stroke-miterlimit='10'%3E%3Cpath data-color='color-2' d='M23 5v11a2 2 0 0 1-2 2h-2v4l-6-4h-1'/%3E%3Cpath d='M17 2H3a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2v5l7-5h5a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2z'/%3E%3C/g%3E%3C/svg%3E");
}

#stats-total-view-count:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24' viewBox='0 0 24 24'%3E%3Cpath d='M23.444 10.239C21.905 8.062 17.708 3 12 3S2.1 8.062.555 10.24a3.058 3.058 0 0 0 0 3.52C2.1 15.938 6.292 21 12 21s9.905-5.062 11.445-7.24a3.058 3.058 0 0 0-.001-3.521zM12 17a5 5 0 1 1 5-5 5 5 0 0 1-5 5z' fill='%23212121'/%3E%3C/svg%3E");
}

#stats_post_count:before {
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='%23212121' class='nc-icon-wrapper'%3E%3Cpath d='M21 5c-1.11-.35-2.33-.5-3.5-.5-1.95 0-4.05.4-5.5 1.5-1.45-1.1-3.55-1.5-5.5-1.5-1.95 0-4.05.4-5.5 1.5v14.65c0 .25.25.5.5.5.1 0 .15-.05.25-.05C3.1 20.45 5.05 20 6.5 20c1.95 0 4.05.4 5.5 1.5 1.35-.85 3.8-1.5 5.5-1.5 1.65 0 3.35.3 4.75 1.05.1.05.15.05.25.05.25 0 .5-.25.5-.5V6c-.6-.45-1.25-.75-2-1zM3 18.5V7c1.1-.35 2.3-.5 3.5-.5 1.34 0 3.13.41 4.5.99v11.5C9.63 18.41 7.84 18 6.5 18c-1.2 0-2.4.15-3.5.5zm18 0c-1.1-.35-2.3-.5-3.5-.5-1.34 0-3.13.41-4.5.99V7.49c1.37-.59 3.16-.99 4.5-.99 1.2 0 2.4.15 3.5.5v11.5z'/%3E%3Cpath opacity='.3' d='M11 7.49c-1.37-.58-3.16-.99-4.5-.99-1.2 0-2.4.15-3.5.5v11.5c1.1-.35 2.3-.5 3.5-.5 1.34 0 3.13.41 4.5.99V7.49z'/%3E%3Cpath d='M17.5 10.5c.88 0 1.73.09 2.5.26V9.24c-.79-.15-1.64-.24-2.5-.24-1.28 0-2.46.16-3.5.47v1.57c.99-.35 2.18-.54 3.5-.54zM17.5 13.16c.88 0 1.73.09 2.5.26V11.9c-.79-.15-1.64-.24-2.5-.24-1.28 0-2.46.16-3.5.47v1.57c.99-.34 2.18-.54 3.5-.54zM17.5 15.83c.88 0 1.73.09 2.5.26v-1.52c-.79-.15-1.64-.24-2.5-.24-1.28 0-2.46.16-3.5.47v1.57c.99-.35 2.18-.54 3.5-.54z'/%3E%3C/g%3E%3C/svg%3E");
}

#stats_article_count:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24' viewBox='0 0 24 24'%3E%3Cg stroke-width='2' fill='%23212121' stroke='%23212121' class='nc-icon-wrapper'%3E%3Cpath data-stroke='none' stroke='none' d='M15 1v6h6l-6-6z'/%3E%3Cpath data-cap='butt' fill='none' stroke-miterlimit='10' d='M15 1v6h6'/%3E%3Cpath fill='none' stroke-linecap='square' stroke-miterlimit='10' d='M15 1H3v22h18V7l-6-6z'/%3E%3Cpath data-color='color-2' fill='none' stroke='inherit' stroke-linecap='square' stroke-miterlimit='10' d='M7 7h4M7 12h10M7 17h10'/%3E%3C/g%3E%3C/svg%3E");
}



/* 左右侧栏 */
#main>#sideBarLeft {
	border-radius: 0 16px 8px 0;
	background: linear-gradient(to bottom, #f8f8f8, #fff, #fff ) ;
	padding-left: 15px;
}

#main>#sideBar {
	border-radius: 16px 0 0 8px;
	background: linear-gradient(to bottom, #f8f8f8, #fff, #fff ) ;
	padding-left: 15px;
}

.input_my_zzk {
	width: 60%;
	padding: 1em 4px;
	border: 1px solid #ccc;
	font-size: 1rem;
	border-radius: 5px;
	transition: all 0.2s;
}

input.btn_my_zzk {
	width: 25%;
	padding: .5rem;
	height: initial;
	border: 1px solid #ccc;
	font-size: .8rem;
	border-radius: 5px;
	outline-style: none;
	background-color: #d0d2e6;
	transition: all 0.1s;
}

.input_my_zzk:hover {
	box-shadow: 0px 0px 5px #aaa;
}

.btn_my_zzk:hover {
	background-color: #0b008f;
	color: white;
}

/* 最新评论样式 */
.RecentCommentBlock ul {
	list-style-type: none;
	padding-left: 0;
	padding-right: 10px;
	visibility: hidden;
}

.recent_comment_title a {
	color: #b399ff;
	transition: all 0.25s;
}

.recent_comment_title a:hover {
	color: #ef8b34;
}

.recent_comment_body {
	color: #000;
	font-size: .9rem;
	margin-top: .9rem;
	margin-bottom: .9rem;
}

.recent_comment_author {
	color: #ccc;
	font-size: .9rem;
}

.recent_comment_author::after {
	display: block;
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 100%;
	content: "";
	border-top: 2px dashed gainsboro;
}


/* footer样式 */
#footer {
	text-align: center;
	margin: 4em auto 1em;
	background-image: linear-gradient(to bottom, #d5edfb, lightblue, lightblue, #d5edfb);
	background-size: 300% 300%;
	padding: 1.5em;
	max-width: 450px;
	border-radius: 1em;
	color: #444;
	user-select: none;
	transition: all 0.25s;
	box-shadow: 0px 0px .5px #333;
	font-family: 'Lucida Console', monospace, 'PingFang SC','Microsoft YaHei','Helvetica Neue','Helvetica','Arial',sans-serif;
	position: relative;
}

@media (max-width: 450px) {
	#footer {
		margin-left: 10px;
		margin-right: 10px;
	}
}

#footer:hover {
	background-position: 50% 50%;
	box-shadow: 0px 0px 1px #444;
}

#footer .footerdec {
	opacity: 1;
	transition: all 0.25s;
}

#footer:hover .footerdec {
	opacity: 0;

}

#footer:active {
	background-position: 100% 100%;
}

.blogStats {
	opacity: 0;
	position: absolute;
	top: 43%;
	left: 0;
	right: 0;
	margin: 0 auto;
	transition: all 0.25s;
}

#footer:hover .blogStats {
	opacity: 1;
}

/*
 - 正文的颜色宽度
 - 链接
 - 表格
 - 小图片居中
 - 列表，标题样式
 - 水平线
 */

/* 0. 总设置 */
.post {
	color: #222;
	font-size: 1rem;
	word-break: keep-all;
	cursor: default;
}

.post h1.postTitle {
	margin-top: 0;
}

.post .postTitle a {
	font-size: 2rem;
	color: #121212;
	font-weight: lighter;
}

.cnblogs-markdown p {
	line-height: 1.6 !important;
	margin: 1.4rem 0 !important;
	font-size: 1rem;
}

.cnblogs-markdown a {
	color: skyblue;
	transition: all 0.25s;
}

.cnblogs-markdown a:hover {
	color: firebrick;
}

.cnblogs-markdown h1 {
	font-size: 2rem !important;
	margin: 1.4rem 0 !important;
}

.cnblogs-markdown h2 {
	font-size: 1.5rem !important;
	margin: 1.4rem 0 !important;
}

.cnblogs-markdown h3 {
	font-size: 1.25rem !important;
	margin: 1.2rem 0 !important;
}

.cnblogs-markdown h4 {
	font-size: 1.1rem !important;
	margin: 1.2rem 0 !important;
}

.cnblogs-markdown h5 {
	font-size: 1rem !important;
}

.cnblogs-markdown h6 {
	font-size: 1rem !important;
}

.cnblogs-markdown {
	user-select: text;
}

.cnblogs-markdown hr {
	margin: 1rem 0 !important;
}

.cnblogs-markdown .table-wrapper table {
	margin: .3rem auto;
	border: 2px solid #d8b1d4;
	border-radius: 12px;
	border-collapse: separate !important;
	border-spacing: 0;
}

.cnblogs-markdown .table-wrapper table th {
	background-color: #ecd8e9 !important;
}

.cnblogs-markdown .table-wrapper table td {
	background-color: #fffbff !important;
}

.cnblogs-markdown .table-wrapper thead tr:first-child th:first-child {
	border-radius: 12px 0 0 0;
}

.cnblogs-markdown .table-wrapper thead tr:first-child th:last-child {
	border-radius: 0 12px 0 0;
}

.cnblogs-markdown .table-wrapper tbody tr:last-child td:first-child {
	border-radius: 0 0 0 12px;
}

.cnblogs-markdown .table-wrapper tbody tr:last-child td:last-child {
	border-radius: 0 0 12px 0;
}

.cnblogs-markdown .math.inline {
	padding-inline-start: 3px;
	padding-inline-end: 3px;
}


/* 1. 行内代码，大块代码 */
#topics .cnblogs-markdown code {
	font: 1.1em 'Lucida Console', 'PingFang SC','Microsoft YaHei','Helvetica Neue','Helvetica','Arial', monospace,sans-serif;
	background-color: inherit;
	tab-size: 4;
	padding: 0 0;
}

#topics .cnblogs-markdown :not(pre) code {
	display: inline;
	color: #795db3;
}

#topics .cnblogs-markdown pre code {
	line-height: 1.75em;
	color: #333;
}

.cnblogs-markdown img {
	margin: 1rem auto;
	max-width: 90%;
	display: block;
	border-radius: 8px;
	box-shadow: 0 0 3px 0px #a2a2a2;
	transition: transform 300ms cubic-bezier(0.2, 0, 0.2, 1),
		box-shadow .2s !important;
	background-color: transparent;
}

.cnblogs-markdown img:hover {
	box-shadow: 0 0 8px 0px #555;
}

/* 2. 按键 */
.cnblogs-markdown kbd {
	font: 1.1em 'Lucida Console', 'PingFang SC','Microsoft YaHei','Helvetica Neue','Helvetica','Arial', monospace,sans-serif;
	padding: 3px 5px;
	margin: 0 3px;
	/* line-height: 10px; */
	color: #555;
	vertical-align: middle;
	background-color: #fcfcfc;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #bbb;
}

/* 3. 定义 */
.cnblogs-markdown dfn {
	font-style: normal;
	font-weight: bolder;
}

/* 4. 引用 */
/* #cnblogs_post_body blockquote{
    background-color: rgb(88, 188, 255);
    border-radius: 15px;
    border-left: none !important;
    color: inherit;
}
#cnblogs_post_body blockquote p{
    color: inherit;
} */
.cnblogs-markdown blockquote {
	background: linear-gradient(to bottom right, #b2ffff, #ceffff, #e7ffff);
	background-size: 200%;
	border-radius: 8px;
	border-left: none !important;
	color: inherit;
	background-position: 100% 100%;
	margin: 1.4rem 0;
	transition: background-position .25s;
	padding: .5rem .8rem;
}

.cnblogs-markdown blockquote:hover {
	background-position: 0 0;
}


#topics .cnblogs-markdown ol {
	margin-left: 1rem;
	padding-left: 0;
	line-height: 1.6;
}

#topics .cnblogs-markdown ul {
	margin-left: 1rem;
	padding-left: 0;
	line-height: 1.6;
}

#blog-comments-placeholder {
	margin: 1.5rem 0;
}

.feedback_area_title {
	margin-top: -1rem;
	margin-bottom: 1.4rem;
	font-weight: 500;
	font-size: 1.5rem;
}

/* 评论区 */
.feedback_area_title {
	color: #121212;
}

#comment_sort {
	float: none;
	display: inline-flex;
	background-color: skyblue;
	transition: all .2s;
	padding: 5px 10px;
	font-size: .75rem;
	border-radius: 3px;
}

#comment_sort .comment-sort-label {
	display: inline;
}

.comment_vote {
	display: none;
}

.feedbackItem {
	background-color: #eee;
	margin-bottom: 8px;
	border-radius: 8px;
	padding: 10px 18px;
}

.feedbackListSubtitle a {
	color: #aaa;
	transition: .2s;
	font-weight: 400;
}

.feedbackListSubtitle {
	color: #000;
}

.feedbackManage {
	margin-bottom: 5px;
}

.cnblogs-markdown {
	cursor: default;
}

.feedbackListSubtitle a:hover {
	color: #333;
}

.comment_actions a {
	padding: 0 5px;
	border-radius: 3px;
	font-size: .9rem;
}

.comment_actions :first-child {
	margin-left: -0.9rem;
}

.blog_comment_body.cnblogs-markdown p {
	margin: .7rem 0 .2rem !important;
}

.blog_comment_body.cnblogs-markdown code {
	font: 1.1em 'Lucida Console', 'PingFang SC','Microsoft YaHei','Helvetica Neue','Helvetica','Arial', monospace,sans-serif;
	background-color: inherit;
	tab-size: 4;
	padding: 0 0;
}

.blog_comment_body.cnblogs-markdown :not(pre) code {
	display: inline;
	color: #795db3;
}

.blog_comment_body.cnblogs-markdown pre code {
	line-height: 1.75em;
}

/* 上一篇和下一篇 */
#post_next_prev {
	display: none;
}

.post_my_next_prev {
	display: flex;
	justify-content: space-between;
	margin: 8px 0 16px;
}

.post_my_next_prev a {
	font-size: 1.05rem;
	border-radius: 8px;
	background-color: #f4f4f4;
	color: #aaa;
	flex-basis: 49%;
	flex-grow: 0;
	flex-shrink: 1;
	padding: 10px 18px;
	transition: all .2s;
}

.post_my_next_prev a:hover {
	color: #333;
	box-shadow: 0px 0px 2px 2px #a2a2a2;
	background-color: #dcf6fb;
}

.post_my_next_prev a::before {
	content: "上一篇：";
	color: #333;
}

.post_my_next_prev a+a::before {
	content: "下一篇：";
	color: #333;
}

@media (max-width:1440px) {
	.post_my_next_prev {
		display: block;
	}

	.post_my_next_prev a {
		display: block;
	}

	.post_my_next_prev a+a {
		margin-top: 5px;
	}
}


/* 广告区 */
#cnblogs_ch,
.under-post-card {
	background-color: #f8f8f8;
	border-radius: 8px;
	width: 49%;
	padding: 5px 12px;
	line-height: 1.8;
}

#cnblogs_ch a,
.under-post-card a {
	color: #aaa;
	display: inline-block;
	padding: 2px 4px;
	transition: all .2s;
	width: 100%;
	border-radius: 2px;
}

#cnblogs_ch a:hover,
.under-post-card a:hover {
	color: #333;
	background-color: #dcf6fb;
}

#cnblogs_c1 {
	float: right;
	max-width: 49%;
	margin-left: 4px;
	margin-right: 4%;
}

@media (max-width:1080px) {
	#cnblogs_c1 {
		display: none;
	}

	#cnblogs_ch,
	.under-post-card {
		width: 100%;
	}
}

/* 文章尾部 */
.post .postDesc {
	margin: 8px 0;
}

.post .postDesc .postInformation {
	float: none;
}

#author_profile,
#div_digg,
#green_channel_weibo,
#green_channel_wechat,
#comment_nav {
	display: none !important;
}

#green_channel {
	border: none;
	background: none;
	text-align: left;
	border-radius: 8px;
}

#green_channel a {
	transition: .4s;
	padding: .5rem 1rem;
	font-weight: normal;
}

#green_channel_digg {
	background-color: blue !important;
}

#green_channel_follow {
	background-color: red !important;
}

#green_channel_favorite {
	background-color: green !important;
}

/* 评论框 */
#tbCommentBody {
	font-size: 1rem;
}

#commentform_title {
	font-size: 1.5rem;
	font-weight: 500;
	color: #121212;
	background: none;
	padding: 0 0 0 0;
	margin-bottom: 1.4rem;
}

.commentbox_main.comment_textarea {
	border-radius: 8px;
	border: 2px solid #aaa;
}

#tip_comment2+p {
	visibility: hidden;
}

#btn_comment_submit,#nav_next_page a {
	padding: 8px 12px;
	width: unset;
	height: unset;
	font-size: 1rem;
	border: none;
	border-radius: 8px;
	transition: .2s;
}
#homepage_top_pager{margin-top:0;}
.pager{
	margin-bottom: 1rem;
	padding: .8rem 0;
	color: #333;
	border-radius: 8px;
	font-size: 1rem;
	font-family: 'Lucida Console','Microsoft YaHei', 'PingFang SC','Helvetica Neue','Helvetica','Arial', monospace,sans-serif;
	
}
.pager a{
	background-color: #edece6;border-radius: 4px;
	padding: 7px 9px 6px;
	transition: .2s;
	color: #aaa;
	border: none;
}
.pager a:first-child, .pager a:last-child{color: #333;}
.pager a:hover{
	background-color: var(--theme);
	color: #333;
}
#nav_next_page a{
	color: #333;
	background-color: #edece6;
	margin-right: 8px;
}
#btn_comment_submit:hover, #nav_next_page a:hover {
	background-color: var(--theme);

}
#btn_comment_submit:active,#nav_next_page a:active {
	background-color: lightskyblue;
	box-shadow: 0px 0px .25px .25px;
}

#tip_comment {
	display: none;
}

#span_comment_canceledit+a {
	background-color: #ff7b5a;
	padding: 8px 12px;
	width: unset;
	height: unset;
	font-size: 1rem;
	color: #333;
	border: none;
	border-radius: 8px;
	transition: .2s;
}

#span_comment_canceledit+a:hover {
	background-color: #ff5232;
	color: #333;
}

#span_comment_canceledit+a:active {
	background-color: #ff0000;
	box-shadow: 0px 0px .5px .5px;
}
.login_tips {
	border-radius: 8px;
	color: #333;
	flex-basis: 49%;
	flex-grow: 0;
	flex-shrink: 1;
	padding: 10px 18px;
	transition: all .2s;
	background: none;
	background-color: var(--theme);
	margin: 16px 0;
}

.login_tips a {
	color: #b399ff;
	transition: all 0.25s;
	text-decoration: none !important;
}

.login_tips a:hover {
	color: #ef8b34;
}

@media print {
	#header, .postDesc, #blog_post_info_block, #comment_form, #footer{display: none;}
}

/* 导航栏 */
.navtag{
	display: inline-block;
	width: 2.3rem;
	height: 3.9rem;
	transition: .2s;
	color: #aaa;
	margin-right: .8rem;
	font-size: .7rem;
	text-align: center;
}
.navtag :not(span) {
	width: 90%; height: 55%;
	background-size: contain;
	background-repeat: no-repeat;
}
.navtag:hover{
	transform: scale(1.25); color: #333;
}
.navicon1{background-image: url("https://common.cnblogs.com/favicon.svg");}
.navicon2{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='39.6' height='43.2' viewBox='0 0 32 32'%3E%3Cpath d='M30.625 15.063c-.375 0-.688-.188-1-.376L16 1.313 2.375 14.687c-.563.5-1.438.5-2-.062-.5-.563-.5-1.438.063-2L15-1.625a1.52 1.52 0 0 1 2 0l14.563 14.25c.562.563.562 1.438.062 2-.313.25-.688.438-1 .438zm-3.063 13.562V15c0-.75-.625-1.375-1.375-1.375-.812 0-1.437.625-1.437 1.375v12.188h-4.313V19.75c0-1-.875-1.813-1.875-1.813h-5.125c-1 0-1.874.813-1.874 1.813v7.438H7.25V15c0-.75-.625-1.375-1.438-1.375-.75 0-1.375.625-1.375 1.375v13.625c0 .75.625 1.375 1.375 1.375H13c.75 0 1.375-.625 1.375-1.375v-7.938h3.313v7.938c0 .75.625 1.375 1.375 1.375h7.125c.75 0 1.375-.625 1.375-1.375z' fill='%23212121'/%3E%3C/svg%3E");
	margin-left: 4px;
}
.navicon3{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='39.6' height='43.2' viewBox='0 0 92 92'%3E%3Cpath d='M60.9 25.5c3.2 3.6 4.7 8.5 4 13.7-1.2 9.6-8.2 13-14.4 13H50v2.4c0 2.2-1.8 4-4 4s-4-1.8-4-4v-3.2c0-3.3 1.4-7.2 8.5-7.2 3.9 0 5.9-2 6.4-6 .2-1.3.3-4.8-2.1-7.4-1.9-2.1-5-3.2-9.2-3.2-9 0-9.3 5.9-9.3 6.5 0 2.2-1.8 4-4 4s-4-1.8-4-4c0-4 3.1-14.5 17.3-14.5 8.3 0 12.9 3.2 15.3 5.9zM45.7 62c-1.3 0-2.6.5-3.5 1.5-.9.9-1.5 2.2-1.5 3.5 0 1.3.5 2.6 1.5 3.5.9.9 2.2 1.5 3.5 1.5 1.3 0 2.6-.5 3.5-1.5.9-.9 1.5-2.2 1.5-3.5 0-1.3-.5-2.6-1.5-3.5-.9-.9-2.1-1.5-3.5-1.5zM92 46c0 25.4-20.6 46-46 46S0 71.4 0 46 20.6 0 46 0s46 20.6 46 46zm-8 0C84 25 67 8 46 8S8 25 8 46s17 38 38 38 38-17 38-38z' fill='%23212121'/%3E%3C/svg%3E");
	margin-left: 4px;
}
/* 目录 */
.econtent ul{
	list-style-type: none;
	padding-left: 1rem;
	font-size: .9rem;
}
.econtent li{margin-bottom: .5rem;}
.econtent a{color: #aaa;transition: .2s;}
.econtent a:hover{color: #333;}
.econtent >ul{padding-left: 0;}
#ec {
	position: sticky;
	top: 10vh;
}

.foldable{
	display: inline;
	/* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath d='M21.938 14c0 .375-.188.75-.438 1l-9.063 8.688c-.25.25-.624.375-.937.375-.375 0-.75-.125-1-.375a1.396 1.396 0 0 1 0-2l8-7.688-8-7.688c-.563-.5-.563-1.437 0-2 .5-.562 1.375-.562 1.938 0L21.5 13c.25.25.438.625.438 1z' fill='%23212121'/%3E%3C/svg%3E"); */
	float: left;
	margin-left: -1rem;
	transition: all .2s;
}
.econtent> ul>span{display: none;}
.collapsed{
	transform: rotate(90deg);
	transform-origin: center;
}